{
  "env": {
    "jest": true
  },
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/standard"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-param-reassign": 0,
    "global-require": 0,
    "no-plusplus": 0,
    "no-console": 0,
    "no-unused-expressions": 0,
    "func-names": 0
  }
}